body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header
{
	text-align: center;
	font-size: 23px;
	padding: 30px;
}
.area_score
{
	border-radius: 10px;
	border:solid 1px #ccc;
	padding: 20px;
}
.local
{
	margin-top: 80px;
	background-color: #fff;
}

.clear
{
	clear: both;
}

.center
{
	text-align: center;
}



